<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase</title>
</head>
<body>

<br><br>
<a href="/">All</a>
<a href="/?type=Ale">Alcohol</a>
<a href="/?type=Lager">Furniture</a>
<a href="/?type=Pilsner">Toiletries</a>
<a href="/?type=Stout">Shoes</a>
<a href="/?type=Other">Jewelry</a>

<br><br>

<table>
    {{#purchases}}
    <tr>
        {{#customer}}
        <td>{{name}}</td>
        <td>{{email}}</td>
        {{/customer}}
        <td>{{date}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{category}}</td>
    </tr>
</table>

</body>
</html>