<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase</title>
</head>
<body>

<br><br>
<a href="/">All</a>
<a href="/?category=Alcohol">Alcohol</a>
<a href="/?category=Furniture">Furniture</a>
<a href="/?category=Toiletries">Toiletries</a>
<a href="/?category=Shoes">Shoes</a>
<a href="/?category=Jewelry">Jewelry</a>

<br><br>

<table>
    {{#purchases}}
    <tr>
        {{#customer}}
        <td>{{name}}</td>
        <td>{{email}}</td>
        {{/customer}}
        <td>{{date}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{category}}</td>
    </tr>
    {{/purchases}}
</table>
{{#showNext}}
<a href="/?page={{nextPage}}{{#category}}&category={{.}}{{/category}}">Next</a>
{{/showNext}}
</body>
</html>